<h1>Edit Issue</h1>

<%= unless ApmPx.Web.SessionView.logged_in?(@conn) do %>
  <div class="error"><%= gettext "Please login first" %></div>
<% else %>
  <div id="issues" class="issues">
    <%= ApmPx.Web.IssuesView.render_edit_issue(@conn) %>
  </div>
<% end %>


