<h1>Create New Issue</h1>

<%= unless ApmPx.Web.SessionView.logged_in?(@conn) do %>
  <div class="error"><%= gettext "Please login first" %></div>
<% else %>
  <div id="issues" class="issues">
    <%= ApmPx.Web.IssuesView.form(@conn) %>
  </div>
<% end %>


